<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Park Yam</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><img src="{% static 'images/logo.png' %}" alt="Logo" width="150" border="0"/></li>

          {% if user.is_authenticated %}
            <li><b>Hello {{ user.get_username }}!</b></li>
            <br><br>

            <li><img src="{% static 'images/home-icon.jpg' %}" width="25"><a href="{% url 'app:home' %}">Home</a></li>
           {% if perms.ParkYamManagerApp.view_room_status %}
                <li><img src="{% static 'images/room-icon.png' %}" width="25"><a href="{% url 'app:reception' %}">Rooms (Reception)</a></li>
            {% endif %}
            {% if perms.ParkYamManagerApp.change_room %}
                <li><img src="{% static 'images/broom-icon.jpg' %}" width="25"><a href="{% url 'app:rooms_cleaning' %}">Rooms Cleaning</a></li>
            {% endif %}
            {% if perms.ParkYamManagerApp.maintain_room %}
                <li><img src="{% static 'images/hammer-icon.png' %}" width="25"><a href="{% url 'app:rooms_maintenance' %}">Rooms Maintenance</a></li>
            {% endif %}
                <li><img src="{% static 'images/summary-icon.jpg' %}" width="25"><a href="{% url 'app:rooms_summary' %}">Rooms Summary</a></li>
            {% if perms.ParkYamManagerApp.can_send_message %}
                <li><img src="{% static 'images/messages-icon.jpg' %}" width="25"><a href="{% url 'app:messages' %}">Messages List</a></li>
                <li><img src="{% static 'images/sent-icon.jpg' %}" width="25"><a href="{% url 'app:send_message' %}">Send Message</a></li>
            {% endif %}



            <li><img src="{% static 'images/logout-icon.jpg' %}" width="25"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
          {% else %}
             <li><img src="{% static 'images/login-icon.jpg' %}" width="25"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
           {% endif %}
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>