<h1>Room {{ room.number }} {% if comment_value %}({{ comment_value }}){% endif %}</h1>
{% if room.is_clean %}<h2>clean</h2>
{% else %} <h2>not clean</h2>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'app:set_clean' room.number%}" method="post">
{% csrf_token %}

    <input type="radio" name="choice" id="clean" value="clean" />
    <label for="clean">clean</label><br />
    <input type="radio" name="choice" id="not clean" value="not clean" />
    <label for="not clean">not clean</label><br />
    Comment: <input type="text" name="clean_comment" value="{{ comment_value }}">
<input type="submit" value="Send" />
</form>