{% extends "app/base_generic.html" %}

{% block content %}
<h1>Room {{ room.number }}</h1>
{% if not room.needs_maintenance%}<h2><font color="green">The room does not need maintenace</font></h2>
{% else %} <h2> <font color="red">The room needs maintenace</font></h2>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'app:set_room_maintenance_status' room.number%}" method="post">
{% csrf_token %}
    <input type="radio" name="choice" id="does not need maintenance" value="does not need maintenance"/>
    <label for="does not need maintenance">does not need maintenance</label><br />
    <input type="radio" name="choice" id="need maintenance" value="need maintenance" />
    <label for="need maintenance">need maintenance</label><br />
    Comment: <input type="text" name="maintenance_comment" value="{{ room.maintenance_comment }}">
<input type="submit" value="Send" />
</form>

{% endblock %}