{% extends "app/base_generic.html" %}

{% block content %}
<div align="center">
<h1>Rooms Cleaning</h1>
{% if rooms_by_floor %}
	<table border="1">
	{% for floor_rooms in rooms_by_floor %}
	<tr height="70">
    {% for room in floor_rooms %}
		{% if room.is_clean %}<td bgcolor="#00ff00" width="70">
		{% else %}<td bgcolor="#ff5050" width="70">
		{% endif %}
        <div align="center"><h3><a href="{% url 'app:detail' room.number %}">{{ room.number }}</a></h3></div>
		</td>
    {% endfor %}
	</tr>
	{% endfor %}
	</table>
{% else %}
    <p>No Rooms are available.</p>
{% endif %}
</div>
{% endblock %}