{% extends "app/base_generic.html" %}

{% block content %}
<h1>Room {{ room.number }}</h1>
{% if not room.needs_maintenance%}<h2><font color="green">The room does not need maintenace</font></h2>
{% else %} <h2> <font color="red">The room needs maintenace</font></h2>
{% endif %}

{% if room.is_clean%}<h2><font color="green">The room is clean</font></h2>
{% else %} <h2> <font color="red">The room is not clean</font></h2>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}