<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


<!--<table>-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th>Comment</th>-->
    <!--</tr>-->

    <!--{% for name, name_item in coms %}-->
        <!--<tr>-->
            <!--<td>-->
                <!--{{ name}}-->
            <!--<td/>-->
            <!--<td>-->
                <!--{% for comm, comm in name_item %}-->
                <!--{{comm}}-->
                <!--{% endfor %}-->
            <!--</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->

<H1> Error in shift assignment process! </H1>



</body>
</html>