<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


<!--<table>-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th>Comment</th>-->
    <!--</tr>-->

    <!--{% for name, name_item in coms %}-->
        <!--<tr>-->
            <!--<td>-->
                <!--{{ name}}-->
            <!--<td/>-->
            <!--<td>-->
                <!--{% for comm, comm in name_item %}-->
                <!--{{comm}}-->
                <!--{% endfor %}-->
            <!--</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->

<table>
<tr align="center"> <td/> <td width="70"> Sunday </td> <td width="70"> Monday </td> <td width="70"> Tuesday </td> <td width="70"> Wednesday </td> <td width="70"> Thursday </td> <td width="70"> Friday </td> <td width="70"> Saturday </td> </tr>
<tr align="center"> <td>Morning</td>   <td> {{sol.0}} </td> <td> {{sol.3}} </td> <td> {{sol.6}} </td> <td> {{sol.9}}  </td> <td> {{sol.12}} </td> <td> {{sol.15}} </td> <td> {{sol.18}} </td></tr>
<tr align="center"> <td>Afternoon</td> <td> {{sol.1}} </td> <td> {{sol.4}} </td> <td> {{sol.7}} </td> <td> {{sol.10}} </td> <td> {{sol.13}} </td> <td> {{sol.16}} </td> <td> {{sol.19}} </td></tr>
<tr align="center"> <td>Night</td>     <td> {{sol.2}} </td> <td> {{sol.5}} </td> <td> {{sol.8}} </td> <td> {{sol.11}} </td> <td> {{sol.14}} </td> <td> {{sol.17}} </td> <td> {{sol.20}} </td></tr>
</table>



</body>
</html>